@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* =================================
   General styles
   ================================= */

html {
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --clr-primary: #F1D2B3;
    --clr-accent: #101820;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.container {
    padding: 0 1rem;
}

/* =================================
   Layout
   ================================= */

nav {
    background-color: #ffffff66;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
    position: fixed;
    width: 100%;;
}

.nav__items {
    display: none;
}

header {
    background-color:var(--clr-primary);
    background-image: url(../img/header-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    height: min(600px, 90vh);
    display: flex;
    flex-direction: column;
}

.header-container {
    margin-top: auto;
    margin-bottom: 2rem;
}


.btn-appointment {
    margin: 0 auto;
    margin-top: 4rem;
    width: 100%;
    background-color:var(--clr-accent);
    border: 0;
    padding: 1rem 0;
}

.about {
    padding: 3rem 0;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-h2,
.services h2 {
    margin-top: 3rem;
}

.about-cards-container {
    display: flex;
    gap: 1rem;
    overflow-y: hidden;
    overflow-x: scroll;
    max-width: 100%;
    min-height: 450px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-top: 2rem;
}

.about-cards-container::-webkit-scrollbar {
    display: none;
}

.about-card {
    min-width: 280px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 1rem;
}

.about-card-text-box {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 250px;
}

.about-card-1 {
    background-image: url('../img/about-card-1.png');
}

.about-card-2 {
    background-image: url('../img/about-card-2.png');
}

.about-card-3 {
    background-image: url('../img/about-card-3.png');
}

.about-card-1,
.about-card-2,
.about-card-3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: top left;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-cards-container {
    background: linear-gradient(180deg, #E3F1F1 -7.19%, rgba(227, 241, 241, 0) 91.1%);
    margin-top: 5rem;
    padding: 0 1rem;
}

.services-card:first-of-type {
    margin-top: -3rem;
}

.services-card {
    margin-bottom: 2rem;
}

.services-last-p {
    display: none;
}

.who-we-are {
    background-color: #000;
    padding: 3rem 0;
}

.who-we-are p {
    margin-bottom: 0;
}

.who-card {
    padding: 0 .5rem;
}

.who-card p {
    margin: 0;
}

.who-card img {
    max-width: 337px;
}



/* =================================
   Typography
   ================================= */

.header-h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

.header-p {
    font-size: .875rem;
    font-weight: 300;
}

.btn-appointment {
    color: #fff;
    font-weight: 500;
    font-size: .875rem;
}

.about {
    text-align: center;
}

.about p {
    font-size: .875rem;
    font-weight: 200;
    line-height: 200%;
}

.about-h2 {
    font-size: 1rem;
    font-weight: 300;
}

.about-card h3,
.services h2 {
    font-weight: 300;
    font-size: 1rem;
}

.about-card p {
    font-weight: 100;
    font-size: .75rem;
}

.services p {
    font-weight: 200;
    font-size: .875rem;
}

.services-card h3 {
    font-weight: 300;
    font-size: 1rem;
}

.services-card p {
    font-weight: 200;
    font-size: .75;
    line-height: 200%;
}

.who-we-are {
    color: #fff;
    text-align: center;
}

.who-we-are h2,
.who-we-are h3 {
    font-weight: 300;
    font-size: 1.25rem;
}

.who-we-are p {
    font-weight: 300;
    color: #ffffffcd;
    font-size: .875rem;
    letter-spacing: .05rem;
    line-height: 32px;
}