@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* =================================
   General styles
   ================================= */

html {
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --clr-primary: #F1D2B3;
    --clr-accent: #101820;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.container {
    padding: 0 1rem;
}

img {
    max-width: 100%;;
}

.mobile-hidden {
    display: none;
}

/* =================================
   Layout
   ================================= */

nav {
    background-color: #ffffff66;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
    position: fixed;
    z-index: 4;
    width: 100%;;
}

.nav__items {
    display: none;
}

header {
    background-color:var(--clr-primary);
    background-image: url(../img/header-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    height: min(600px, 90vh);
    display: flex;
    flex-direction: column;
}

.header-container {
    margin-top: auto;
    margin-bottom: 2rem;
}


.btn-appointment {
    margin: 0 auto;
    margin-top: 4rem;
    width: 100%;
    background-color:var(--clr-accent);
    border: 0;
    padding: 1rem 0;
}

.about {
    padding: 3rem 0;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-h2,
.services h2 {
    margin-top: 3rem;
}

.about-cards-container {
    display: flex;
    gap: 1rem;
    overflow-y: hidden;
    overflow-x: scroll;
    max-width: 100%;
    min-height: 450px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-top: 2rem;
}

.about-cards-container::-webkit-scrollbar {
    display: none;
}

.about-card {
    min-width: 280px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 1rem;
}

.about-card-text-box {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 250px;
}

.about-card-1 {
    background-image: url('../img/about-card-1.png');
}

.about-card-2 {
    background-image: url('../img/about-card-2.png');
}

.about-card-3 {
    background-image: url('../img/about-card-3.png');
}

.about-card-1,
.about-card-2,
.about-card-3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: top left;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-cards-container {
    background: linear-gradient(180deg, #E3F1F1 -7.19%, rgba(227, 241, 241, 0) 91.1%);
    margin-top: 5rem;
    padding: 0 1rem;
}

.services-card:first-of-type {
    margin-top: -3rem;
}

.services-card {
    margin-bottom: 2rem;
}

.services-last-p {
    display: none;
}

.who-we-are {
    background-color: #000;
    padding: 3rem 0;
}

.who-we-are p {
    margin-bottom: 0;
}

.who-card {
    padding: 0 .5rem;
}

.who-card p {
    margin: 0;
}

.who-card img {
    max-width: 337px;
}

.before-after {
    padding: 2rem 0;
}

.before-after-header h2 {
    margin: 0;
}

.before-after-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .125rem;
    margin-bottom: 1rem;
}

.before-after-icon {
    width: 4px;
    height: 9px;
}

.before-after p:first-of-type {
    padding: 0 1rem;
    margin: 0;
}

.caroussel {
    margin-top: 3rem;
    background-color: #000;
}

.caroussel img {
    width: 100vw;
}

.images-container,
.left-image,
.right-image {
    position: relative;
}

.left-image {
    margin-bottom: .5rem;
}

.images-container .before-after-circle {
    max-width: 61px 
}

.before,
.after,
.before-after-circle {
    position: absolute;
    z-index: 2;
}

.before,
.after {
    background-color: #101820;
    width: 98px;
    height: 42px;
    display: grid;
    place-items: center;
}

.before {
    bottom: 20px;
    left: 15px;
}

.after {
    bottom: 20px;
    right: 15px;
}

.before-after-circle {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.caroussel-text {
    display: grid;
    grid-template-areas: "title . left right"
                         "text  text text text";
    align-items: center;
    padding: 1.5rem 1rem;
}

.caroussel-title {
    padding: 1rem;
    margin: 0;
    grid-area: title;
    min-width: 18ch;
}

.caroussel-description {
    grid-area: text;
}

.arrow {
    background-color: #000;
    border: none;
    max-width: 45px;
}

.arrow img {
    width: 42px;
}

.arrow-left {
    grid-area: left;
}

.arrow-right {
    grid-area: right;
    margin-left:.5rem;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.reviews-cards-container {
    padding-top: 4rem;
    background-image: url(../img/reviews-quote-1.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 115px;
}

.reviews-cards-container-inner {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.review-card {
    min-width: 305px;
    min-height: 325px;
    background-color: #fff;
    padding: 1.25rem 2rem;
    box-shadow: 0px 2px 50px rgba(67, 81, 155, 0.12);
    border: none;
    margin-right: 1rem;
}

.review-card:first-of-type {
    margin-left: 4rem;
}

.review-card img {
    max-width: 65px;
}

.working-hours {
    background-image: url(../img/working-hours-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 490px;
    padding-top: 6rem;
}

.working-hours p {
    max-width: 280px;
    margin-bottom: 5rem;
}

.working-hours td {
    padding: .55rem 1.2rem .55rem .55rem;
}

/* =================================
   Typography
   ================================= */

.header-h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

.header-p {
    font-size: .875rem;
    font-weight: 300;
}

.btn-appointment {
    color: #fff;
    font-weight: 500;
    font-size: .875rem;
}

.about {
    text-align: center;
}

.about p {
    font-size: .875rem;
    font-weight: 200;
    line-height: 200%;
}

.about-h2 {
    font-size: 1rem;
    font-weight: 300;
}

.about-card h3,
.services h2 {
    font-weight: 300;
    font-size: 1rem;
}

.about-card p {
    font-weight: 100;
    font-size: .75rem;
}

.services p {
    font-weight: 200;
    font-size: .875rem;
}

.services-card h3 {
    font-weight: 300;
    font-size: 1rem;
}

.services-card p {
    font-weight: 200;
    font-size: .75;
    line-height: 200%;
}

.who-we-are {
    color: #fff;
    text-align: center;
}

.who-we-are h2,
.who-we-are h3 {
    font-weight: 300;
    font-size: 1.25rem;
}

.who-we-are p {
    font-weight: 300;
    color: #ffffffcd;
    font-size: .875rem;
    letter-spacing: .05rem;
    line-height: 32px;
}

.before-after {
    text-align: center;
    font-weight: 300;
}

.before-after h2 {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 300%;
}

.before-after p {
    color: #00000090;
    font-size: .875rem;
    line-height: 200%;
    letter-spacing: 0.05rem;
}

.images-container .before-after-text {
    color: #fff;
    font-weight: 300;
    font-size: 1.125rem;
}

.caroussel-text .caroussel-title,
.caroussel-text .caroussel-description {
    color: #fff;
    text-align: left;
}

.caroussel-title {
    font-weight: 400;
    font-size: 1.125rem;
}

.caroussel-description {
    font-size: .75rem;
    line-height: 200%;
}

.reviews {
    text-align: center;
    font-weight: 300;
}

.reviews h2 {
    font-size: 1.25rem;
    font-weight: 300;
}

.reviews p {
    font-size: .875rem;
}

.reviews-cards-container .review-card {
    text-align: left;
    font-size: .875rem;
    letter-spacing: .05rem;
    line-height: 200%;
    color: #101820ea;
}

.reviews-cards-container .review-card p.name {
    font-size: .75rem;
    font-weight: 500;
    color: #40C1AC;
}

.working-hours h2 {
    font-weight: 300;
    font-size: 1.25rem;
}

.working-hours p {
    font-weight: 300;
    font-size: .875rem;
    letter-spacing: .08rem;
    color: #000000a0;
}

.working-hours table {
    font-weight: 400;
    letter-spacing: .08rem;
}

.right-align {
    text-align: right;
}