@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* =================================
   General styles
   ================================= */

html {
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --clr-primary: #F1D2B3;
    --clr-accent: #101820;
}

* {
    scroll-padding-top: 80px;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.container {
    padding: 0 1rem;
}

img {
    max-width: 100%;;
}

.hidden,
.mobile-hidden {
    display: none;
}

.footer-logo {
    max-width: 148px;
    margin: 0 auto;
}

/* =================================
   Layout
   ================================= */

nav {
    background-color: #ffffff66;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
    position: fixed;
    z-index: 4;
    width: 100%;;
}

nav .scrolled-only {
    display: none;
    margin-left: 4rem;
}

.btn-appointment-2 {
    background-color: #000;
    width: 238px;
    padding: .75rem;
    border: none;
}

.scrolled-only .address {
    margin: .3rem 0 0;
}

.nav__items {
    display: none;
}

header {
    background-color:var(--clr-primary);
    background-image: url(../img/header-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    height: min(600px, 90vh);
    display: flex;
    flex-direction: column;
}

.header-container {
    margin-top: auto;
    margin-bottom: 2rem;
}


.btn-appointment {
    margin: 0 auto;
    margin-top: 4rem;
    width: 100%;
    background-color:var(--clr-accent);
    border: 0;
    padding: 1rem 0;
}

.about {
    padding: 3rem 0;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-h2,
.services h2 {
    margin-top: 3rem;
}

.about-cards-container {
    display: flex;
    gap: 1rem;
    overflow-y: hidden;
    overflow-x: scroll;
    max-width: 100%;
    min-height: 450px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-top: 2rem;
}

.about-cards-container::-webkit-scrollbar {
    display: none;
}

.about-card {
    min-width: 280px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 1rem;
}

.about-card-text-box {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 250px;
}

.about-card-1 {
    background-image: url('../img/about-card-1.png');
}

.about-card-2 {
    background-image: url('../img/about-card-2.png');
}

.about-card-3 {
    background-image: url('../img/about-card-3.png');
}

.about-card-1,
.about-card-2,
.about-card-3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: top left;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-cards-container {
    background: linear-gradient(180deg, #E3F1F1 -7.19%, rgba(227, 241, 241, 0) 91.1%);
    margin-top: 5rem;
    padding: 0 1rem;
}

.services-card:first-of-type {
    margin-top: -3rem;
}

.services-card {
    margin-bottom: 2rem;
}

.services-last-p {
    display: none;
}

.who-we-are {
    background-color: #000;
    padding: 3rem 0;
}

.who-we-are p {
    margin-bottom: 0;
}

.who-card {
    padding: 0 .5rem;
}

.who-card p {
    margin: 0;
}

.who-card img {
    max-width: 337px;
}

.before-after {
    padding: 2rem 0;
}

.before-after-header h2 {
    margin: 0;
}

.before-after-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .125rem;
    margin-bottom: 1rem;
}

.before-after-icon {
    width: 4px;
    height: 9px;
}

.before-after p:first-of-type {
    padding: 0 1rem;
    margin: 0;
}

.caroussel {
    margin-top: 3rem;
    background-color: #000;
}

.caroussel img {
    width: 100vw;
}

.images-container,
.left-image,
.right-image {
    position: relative;
}

.left-image {
    margin-bottom: .5rem;
}

.images-container .before-after-circle {
    max-width: 61px 
}

.before,
.after,
.before-after-circle {
    position: absolute;
    z-index: 2;
}

.before,
.after {
    background-color: #101820;
    width: 98px;
    height: 42px;
    display: grid;
    place-items: center;
}

.before {
    bottom: 20px;
    left: 15px;
}

.after {
    bottom: 20px;
    right: 15px;
}

.before-after-circle {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.caroussel-text {
    display: grid;
    grid-template-areas: "title . left right"
                         "text  text text text";
    align-items: center;
    padding: 1.5rem 1rem;
}

.caroussel-title {
    padding: 1rem;
    margin: 0;
    grid-area: title;
    min-width: 18ch;
}

.caroussel-description {
    grid-area: text;
}

.arrow {
    background-color: #000;
    border: none;
    max-width: 45px;
}

.arrow img {
    width: 42px;
}

.arrow-left {
    grid-area: left;
}

.arrow-right {
    grid-area: right;
    margin-left:.5rem;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.reviews-cards-container {
    padding-top: 4rem;
    background-image: url(../img/reviews-quote-1.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 115px;
}

.reviews-cards-container-inner {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.review-card {
    min-width: 305px;
    min-height: 325px;
    background-color: #fff;
    padding: 1.25rem 2rem;
    box-shadow: 0px 2px 50px rgba(67, 81, 155, 0.12);
    border: none;
    margin-right: 1rem;
}

.review-card:first-of-type {
    margin-left: 4rem;
}

.review-card img {
    max-width: 65px;
}

.working-hours {
    background-image: url(../img/working-hours-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 490px;
    padding-top: 6rem;
}

.working-hours p {
    max-width: 280px;
    margin-bottom: 5rem;
}

.working-hours td {
    padding: .55rem 1.2rem .55rem .55rem;
}

footer {
    padding: 3rem 0 0;
}

footer .container {
    display: flex;
    flex-direction: column;
}

.social-icon {
    margin-right: .5rem;
    width: 25px;
}

@media only screen and (min-width: 1024px) {

        body {
            max-width: 100vw;
            overflow-x: hidden;
        }

        header {
            background-image: url('../img/header-bg-desktop.png'), url('../img/header-bg-2-desktop.svg');
            background-position: bottom right, center left;
            background-repeat: no-repeat, no-repeat;
            background-size: contain, 35%;
            min-height: 100vh;
        }

        .btn-appointment {
            max-width: 236px;
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
            margin-top: 2rem;
        }

        nav {
            background-color: initial;
            justify-content: start;
            padding: 1rem 0 1rem 10vw;
            max-width: 100vw;
            position: static;
            transition: all .5s ease-in-out;
        }  

        nav.scrolled {
            position: fixed;
            background-color: #ffffffcc;
            box-shadow: 0px 3px 6px rgba(51, 59, 87, 0.05);
            backdrop-filter: blur(10px);
            padding: .5rem;
            display: flex;
            justify-content: center;
            transition: all .5s ease-in-out
        }

        nav.scrolled .scrolled-only {
            display: block;
        }

        .nav__items {
            display: flex;
            justify-content: space-around;
            gap: 4rem;
        }

        .nav__items li {
            list-style: none;
        }

        .header-container {
            padding-left: 10vw;
            padding-bottom: 6rem;
        }

        .about-container {
            max-width: 1040px;
            margin: 0 auto;
        }

        .about-card {
            max-width: 326px;
        }

        .services {
            padding-bottom: 6rem;
        }

        .services-cards-container .container {
            display: flex;
            width: 100vw;
            justify-content: center;
            gap: 2rem;
        }

        .services-card {
            width: 270px;
            margin-top: -3rem;
            display: flex;
            flex-direction: column;
        }

        .services-card img {
            margin: 0 auto;
        }

        .services-last-p {
            display: block;
        }

        .who-card {
            max-width: 1240px;
            margin: 0 auto;
        }

        .who-card-joana {
            display: grid;
            grid-template-areas: 'img h3'
                                 'img p';
            padding: 1rem 10vw;
            background-image: url(../img/who-joana-bg.svg);
            background-repeat: no-repeat;
            background-position: top right;
        }

        .who-card-eliana {
            display: grid;
            grid-template-areas: 'h3 img'
                                 'p img';
            padding: 1rem 10vw;
            background-image: url(../img/who-eliana-bg.svg);
            background-repeat: no-repeat;
            background-position: top left;
        }


        .who-card-joana picture,
        .who-card-eliana picture {
            grid-area: img;
        }


        .who-card-joana h3,
        .who-card-eliana h3 {
            grid-area: h3;
            align-self: end;
        }


        .who-card-joana p
        .eliana-p p {
            grid-area: p;
        }

        .who-card-joana p {
            justify-self: end;
        }

        .who-card .who-p {
            max-width: 596px;
        }

        .images-container {
            display: flex;
            padding: 0;
            gap: .5rem;
            justify-content: center;
        }

        .images-container img {
            max-width: 590px;
        }

        .images-container .before-after-circle {
            max-width: 80px;
        }

        .before-after-text {
            width: 140px;
            height: 56px;
        }

        .before-after-icon {
            width: 7px;
            height: 14px;
        }

       .images-container .before-after-text.before {
            left: -2rem;
            bottom: 1rem;
        }

        .images-container .before-after-text.after {
            right: -2rem;
            bottom: 1.75rem;
        }

        .left-image,
        .right-image {
            margin-bottom: 0;
            padding: 0;
        }

        .caroussel-text {
            background-color: #101820;
            display: grid;
            grid-template-areas: "prev heading next"
                                 "prev text    next";
            column-gap: 3rem;
            padding-bottom: 3rem;
            justify-items: start;
            min-height: 222px;
        }

        .caroussel-text .arrow-left {
            grid-area: prev;
        }

        .caroussel-text .arrow-right {
            grid-area: next;
            justify-self: end;
        }

        .caroussel-text h3 {
            grid-area: heading;
        }

        .caroussel-text p {
            grid-area: text;
        }

        .caroussel-text button.arrow img {
            min-width: 64px; 
            background-color: #101820;
        }

        .caroussel-text button.arrow {
            background-color: #101820;
            cursor: pointer;
        }

        .reviews-cards-container {
            background-image: url(../img/reviews-quote-1.svg), url('../img/reviews-quote-2.svg');
            background-repeat: no-repeat, no-repeat;
            background-position: top left, bottom right;
            padding-bottom: 5rem;
        }

        .reviews-cards-container-inner {
            flex-direction: column;
            gap: 2rem;
        }

        .review-card {
            max-width: 862px;
            min-height: 214px;
            height: 100px;
            display: grid;
            column-gap: 2rem;
            grid-template-areas: "img text"
                                 "img name"
                                 "img .";
        }
        
        .review-card.review-card-1 {
            max-height: 214px;
        }

        .review-card img {
            grid-area: img;
            max-width: 160px;
        }

        .review-card p {
            grid-area: text;
            padding: 0;
            margin: 0;
        }

        .review-card p.name {
            grid-area: name;
            align-self: start;
        }

        .review-card.review-card-2 {
            align-self: end;
        }

        .review-card.review-card-3 {
            align-self: center;
        }

        .working-hours {
            background-image: url('../img/working-hours-bg-desktop.png');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .working-hours .container {
            padding-left: 10vw;
        }

        .working-hours td {
            padding-left: 0;
            padding-right: 10rem;
        }

        .working-hours p {
            max-width: 500px;
            margin-bottom: 2rem;
        }

        footer .container {
            display: grid;
            grid-template-areas: "logo about contact"
                                 ". copy .";
            padding-bottom: 3rem;
            justify-content: center;
            column-gap: 6rem;
            row-gap: 3rem;
        }

        footer img.footer-logo {
            grid-area: logo;
            min-width: 238px;
        }

        .footer-about-card {
            max-width: 240px;
        }

        .footer-contact-card {
            max-width: 360px;
        }

        .copyright {
            grid-area: copy;
        }

        footer h2 {
            margin: 0;
        }
}

/* =================================
   Typography
   ================================= */

.header-h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

.header-p {
    font-size: .875rem;
    font-weight: 300;
}

.btn-appointment,
.btn-appointment-2 {
    color: #fff;
    font-weight: 500;
    font-size: .875rem;
}

.scrolled-only .address {
    font-size: .67rem;
    font-weight: 400;
    color: #101820;
    letter-spacing: .05rem;
    line-height: 140%;
}

.about {
    text-align: center;
}

.about p {
    font-size: .875rem;
    font-weight: 200;
    line-height: 200%;
}

.about-h2 {
    font-size: 1rem;
    font-weight: 300;
}

.about-card h3,
.services h2 {
    font-weight: 300;
    font-size: 1rem;
}

.about-card p {
    font-weight: 100;
    font-size: .75rem;
}

.services p {
    font-weight: 200;
    font-size: .875rem;
}

.services-card h3 {
    font-weight: 300;
    font-size: 1rem;
}

.services-card p {
    font-weight: 200;
    font-size: .75;
    line-height: 200%;
}

.who-we-are {
    color: #fff;
    text-align: center;
}

.who-we-are h2,
.who-we-are h3 {
    font-weight: 300;
    font-size: 1.25rem;
}

.who-we-are p {
    font-weight: 300;
    color: #ffffffcd;
    font-size: .875rem;
    letter-spacing: .05rem;
    line-height: 32px;
}

.before-after {
    text-align: center;
    font-weight: 300;
}

.before-after h2 {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 300%;
}

.before-after p {
    color: #00000090;
    font-size: .875rem;
    line-height: 200%;
    letter-spacing: 0.05rem;
}

.images-container .before-after-text {
    color: #fff;
    font-weight: 300;
    font-size: 1.125rem;
}

.caroussel-text .caroussel-title,
.caroussel-text .caroussel-description {
    color: #fff;
    text-align: left;
}

.caroussel-title {
    font-weight: 400;
    font-size: 1.125rem;
}

.caroussel-description {
    font-size: .75rem;
    line-height: 200%;
}

.reviews {
    text-align: center;
    font-weight: 300;
}

.reviews h2 {
    font-size: 1.25rem;
    font-weight: 300;
}

.reviews p {
    font-size: .875rem;
}

.reviews-cards-container .review-card {
    text-align: left;
    font-size: .875rem;
    letter-spacing: .05rem;
    line-height: 200%;
    color: #101820ea;
}

.reviews-cards-container .review-card p.name {
    font-size: .75rem;
    font-weight: 500;
    color: #40C1AC;
}

.working-hours h2 {
    font-weight: 300;
    font-size: 1.25rem;
}

.working-hours p {
    font-weight: 300;
    font-size: .875rem;
    letter-spacing: .08rem;
    color: #000000a0;
}

.working-hours table {
    font-weight: 400;
    letter-spacing: .08rem;
}

.right-align {
    text-align: right;
}

footer h2 {
    font-weight: 300;
    font-size: 1.25rem;
}

footer p {
    font-weight: 300;
    font-size: .75rem;
    color: #000000a0;
    line-height: 200%;
    letter-spacing: .08rem;
}

footer .copyright {
    text-align: center;
    font-size: .75rem;
}

footer .accent {
    color: #40C1AC;
}

@media only screen and (min-width: 1024px) {
    .nav__items,
    .nav__items a {
        font-weight: 300;
        font-size: .875rem;
        color: #000;
        text-decoration: none;
    }

    .header-h2,
    .about-h2,
    .services h2,
    .before-after h2,
    .reviews h2,
    .working-hours h2 {
        font-size: 2rem;
    }

    .header-p,
    .about-p,
    .services p,
    .before-after p,
    .reviews p {
        font-size: 1rem;
    }

    .working-hours p {
        font-size: 1.125rem;
        line-height: 32px;
    }

    .about-card p {
        font-size: .8rem;
    }

    .services-card {
        text-align: center;
    }

    .services-card h3 {
        font-weight: 400;
    }

    .services-card p {
        font-size: .875rem;
    }

    .services-last-p {
        text-align: center;
        font-size: .75rem;
    }

    .who-card-joana {
        text-align: right;
    }

    .who-card-eliana {
        text-align: left;
    }

    .who-we-are .who-p {
        color: #fffffffd;
    }

    .who-we-are h3 {
        font-size: 1.5rem;
    }

    .images-container p.before-after-text {
        font-size: 1.5rem;
    }

    .review-card p,
    .reviews-cards-container .review-card p.name {
        font-size: .97rem;
    }

    .copyright {
        text-align: center;
    }

    footer h2 {
        font-size: 1.5rem;
    }
}